@import './include.scss';



body{

    #left-body{

        #locate-btn{   
            margin-top: 1%;
            #locator-icon{
                width: 40%;
                height: 40%;
            }
            #locate-text{
                margin-left: -10%;
            }
            &:hover{
                cursor: pointer;
                color: gray;
            }
        }
        
        #find-food-btn{
            width: 120%; 
        }
        .menu-btn{
            @extend .outlined-red-btn;
        }

    }

    #right-body{

    }
}


.bg-maroon{
    background-color: $logoBackground;
    color: white;
}

